// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.button {
  text-decoration: none;
  color: opacity($color: #000000);
}

.todo-list-button {
  width: 30%;
  margin: auto;
}

.new-list-button {
  width: 30%;
  margin: auto;
}