// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.button {
  text-decoration: none;
  color: opacity($color: #000000);
}

.todo-list-button {
  width: 30%;
  margin: auto;
}

.new-list-button {
  width: 30%;
  margin: auto;
}

.todo-list-form {
  width: 50%;
  margin: auto;
}

.avatar {
  border-radius: 50%;
  width: 15%;
}

.logo-image {
  width: 20%;

  .avatar {
    width: 100%;
  }
}